Repository qctrl/open-controls, changes with the owners that CODEOWNERS names for each.
All owners: @qctrl/boulder-opal-engineering, @qctrl/infrastructure, @qctrl/engineering

lock
  poetry.lock
Owners: @qctrl/boulder-opal-engineering

format
  poetry.lock
  pyproject.toml
Owners: @qctrl/boulder-opal-engineering

update lint rule
  .pylintrc
Owners: @qctrl/boulder-opal-engineering

build: Bump Jinja2 (#312)
  .pylintrc
  poetry.lock
  pyproject.toml
Owners: @qctrl/boulder-opal-engineering

ci: Add new reuseable on-push python workflows
  .github/workflows/on-push.yaml
Owners: @qctrl/infrastructure

ci: Update check versions task to use Github action
  .github/workflows/on-pull-request.yaml
Owners: @qctrl/infrastructure

ci: Add new reuseable on-push python workflows
  .github/workflows/on-push.yaml
Owners: @qctrl/infrastructure

ci: add container parameters input
  .github/workflows/on-push.yaml
Owners: @qctrl/infrastructure

ci: Add new on-pull-request workflow
  .github/workflows/on-pull-request.yaml
Owners: @qctrl/infrastructure

ci: Add new on-pull-request workflow (#316)
  .github/workflows/on-pull-request.yaml
Owners: @qctrl/infrastructure

lock
  poetry.lock
Owners: @qctrl/boulder-opal-engineering

ci: Add docker build push docker workflow
  .github/workflows/on-pull-request.yaml
Owners: @qctrl/infrastructure

build!: Drop Python 3.9 support and add support up to 3.13
  poetry.lock
  pyproject.toml
Owners: @qctrl/boulder-opal-engineering

update versions in workflows
  .github/workflows/on-pull-request.yaml
  .github/workflows/on-push.yaml
  pyproject.toml
Owners: @qctrl/infrastructure, @qctrl/boulder-opal-engineering

reshap to use different vars
  qctrlopencontrols/dynamic_decoupling_sequences/predefined.py
  tests/test_predefined_dynamical_decoupling.py
Owners: @qctrl/boulder-opal-engineering

build!: Drop Python 3.9 support and add support up to 3.13 (#319)
  .github/workflows/on-pull-request.yaml
  .github/workflows/on-push.yaml
  poetry.lock
  pyproject.toml
  qctrlopencontrols/dynamic_decoupling_sequences/predefined.py
  tests/test_predefined_dynamical_decoupling.py
Owners: @qctrl/infrastructure, @qctrl/boulder-opal-engineering

chore: Bump version to 12.0.0
  pyproject.toml
  qctrlopencontrols/__init__.py
Owners: @qctrl/boulder-opal-engineering

ci: Add docker build push docker workflow (#318)
  .github/workflows/on-pull-request.yaml
Owners: @qctrl/infrastructure

ci: Remove docker run commands and use container images in jobs instead
  .github/workflows/on-pull-request.yaml
  .github/workflows/on-push.yaml
  .github/workflows/on-release.yaml
Owners: @qctrl/infrastructure

ci: Add safe.directory git config
  .github/workflows/on-pull-request.yaml
  .github/workflows/on-push.yaml
  .github/workflows/on-release.yaml
Owners: @qctrl/infrastructure

revert: Add docker run command due to unsupported workflows
  .github/workflows/on-pull-request.yaml
Owners: @qctrl/infrastructure

revert: Add docker run command due to unsupported workflows (#320)
  .github/workflows/on-pull-request.yaml
Owners: @qctrl/infrastructure

ci: Add github inject env values
  .github/workflows/on-push.yaml
Owners: @qctrl/infrastructure

ci: Remove docker run commands and use container images in jobs instead (#321)
  .github/workflows/on-pull-request.yaml
  .github/workflows/on-push.yaml
  .github/workflows/on-release.yaml
Owners: @qctrl/infrastructure

CODEOWNERS:

##### This file is managed automatically. To update visit: https://github.com/qctrl/repositories-manager. #####
* @qctrl/boulder-opal-engineering

.dockerignore @qctrl/infrastructure
.github/*.y*ml @qctrl/infrastructure
.github/workflows @qctrl/infrastructure
docker* @qctrl/infrastructure
Docker* @qctrl/infrastructure

.github/dependabot.y*ml @qctrl/engineering
