Repository qctrl/open-controls, changes with the owners that CODEOWNERS names for each.
All owners: @qctrl/boulder-opal-engineering, @qctrl/infrastructure, @qctrl/engineering

CODEOWNERS:

##### This file is managed automatically. To update visit: https://github.com/qctrl/repositories-manager. #####
* @qctrl/boulder-opal-engineering

.dockerignore @qctrl/infrastructure
.github/*.y*ml @qctrl/infrastructure
.github/workflows @qctrl/infrastructure
docker* @qctrl/infrastructure
Docker* @qctrl/infrastructure

.github/dependabot.y*ml @qctrl/engineering

repoetry
  poetry.lock
Owners: @qctrl/boulder-opal-engineering

build: Bump idna
  poetry.lock
Owners: @qctrl/boulder-opal-engineering

poetry update --lock
  poetry.lock
Owners: @qctrl/boulder-opal-engineering

v4
  .github/workflows/on-pull-request.yaml
  .github/workflows/on-push.yaml
  .github/workflows/on-release.yaml
Owners: @qctrl/infrastructure

ci: Upgrade actions that use EOL Node v16
  .github/workflows/on-pull-request.yaml
  .github/workflows/on-push.yaml
  .github/workflows/on-release.yaml
Owners: @qctrl/infrastructure

ci: Update action to v4 (#295)
  .github/workflows/on-pull-request.yaml
  .github/workflows/on-push.yaml
  .github/workflows/on-release.yaml
Owners: @qctrl/infrastructure

docs: Add docs markdown builds
  .github/workflows/on-release.yaml
  docs/conf.py
  poetry.lock
  pyproject.toml
Owners: @qctrl/infrastructure, @qctrl/boulder-opal-engineering

docs: Fix docs index template
  docs/index.rst
Owners: @qctrl/boulder-opal-engineering

build: Correct poetry lock file
  poetry.lock
Owners: @qctrl/boulder-opal-engineering

docs: Add docs markdown builds (#297)
  .github/workflows/on-release.yaml
  docs/conf.py
  docs/index.rst
  poetry.lock
  pyproject.toml
Owners: @qctrl/infrastructure, @qctrl/boulder-opal-engineering

lock
  poetry.lock
Owners: @qctrl/boulder-opal-engineering

ci: Remove sphinx theme deployments
  .github/workflows/on-push.yaml
  .github/workflows/on-release.yaml
Owners: @qctrl/infrastructure

ci: Remove sphinx theme deployments (#299)
  .github/workflows/on-push.yaml
  .github/workflows/on-release.yaml
Owners: @qctrl/infrastructure

ci: Remove sphinx website builds
  .github/workflows/on-push.yaml
  .github/workflows/on-release.yaml
Owners: @qctrl/infrastructure

build: Remove qctrl-sphinx-theme
  docs/conf.py
  poetry.lock
  pyproject.toml
Owners: @qctrl/boulder-opal-engineering

build: Remove qctrl-sphinx-theme (#301)
  docs/conf.py
  poetry.lock
  pyproject.toml
Owners: @qctrl/boulder-opal-engineering

ci: Remove xphinx website builds (#300)
  .github/workflows/on-push.yaml
  .github/workflows/on-release.yaml
Owners: @qctrl/infrastructure

relock
  poetry.lock
Owners: @qctrl/boulder-opal-engineering

lock
  poetry.lock
Owners: @qctrl/boulder-opal-engineering

build: Update URL list in pyproject.toml according to template
  pyproject.toml
Owners: @qctrl/boulder-opal-engineering

build: Update URL list in pyproject.toml according to template (#304)
  pyproject.toml
Owners: @qctrl/boulder-opal-engineering

build: Update Poetry link to x.com
  pyproject.toml
Owners: @qctrl/boulder-opal-engineering

build: Update Poetry link to x.com (#305)
  pyproject.toml
Owners: @qctrl/boulder-opal-engineering

ci: Remove docs update step on release
  .github/workflows/on-release.yaml
Owners: @qctrl/infrastructure

ci: Remove docs update step on release (#306)
  .github/workflows/on-release.yaml
Owners: @qctrl/infrastructure

build: Update markdown builder package version
  .github/workflows/on-release.yaml
  poetry.lock
  pyproject.toml
Owners: @qctrl/infrastructure, @qctrl/boulder-opal-engineering

build: Update markdown builder package version (#307)
  .github/workflows/on-release.yaml
  poetry.lock
  pyproject.toml
Owners: @qctrl/infrastructure, @qctrl/boulder-opal-engineering

build: Bump jinja2
  poetry.lock
Owners: @qctrl/boulder-opal-engineering

build: Bump jinja2 (#308)
  poetry.lock
Owners: @qctrl/boulder-opal-engineering

lock
  poetry.lock
Owners: @qctrl/boulder-opal-engineering

chore: Update licensing comments
  docs/conf.py
  qctrlopencontrols/__init__.py
  qctrlopencontrols/constants.py
  qctrlopencontrols/driven_controls/__init__.py
  qctrlopencontrols/driven_controls/driven_control.py
  qctrlopencontrols/driven_controls/predefined.py
  qctrlopencontrols/dynamic_decoupling_sequences/__init__.py
  qctrlopencontrols/dynamic_decoupling_sequences/dynamic_decoupling_sequence.py
  qctrlopencontrols/dynamic_decoupling_sequences/predefined.py
  qctrlopencontrols/exceptions.py
  qctrlopencontrols/utils.py
  tests/test_driven_controls.py
  tests/test_dynamical_decoupling.py
  tests/test_predefined_driven_controls.py
  tests/test_predefined_dynamical_decoupling.py
Owners: @qctrl/boulder-opal-engineering

chore: Update licensing comments (#310)
  docs/conf.py
  qctrlopencontrols/__init__.py
  qctrlopencontrols/constants.py
  qctrlopencontrols/driven_controls/__init__.py
  qctrlopencontrols/driven_controls/driven_control.py
  qctrlopencontrols/driven_controls/predefined.py
  qctrlopencontrols/dynamic_decoupling_sequences/__init__.py
  qctrlopencontrols/dynamic_decoupling_sequences/dynamic_decoupling_sequence.py
  qctrlopencontrols/dynamic_decoupling_sequences/predefined.py
  qctrlopencontrols/exceptions.py
  qctrlopencontrols/utils.py
  tests/test_driven_controls.py
  tests/test_dynamical_decoupling.py
  tests/test_predefined_driven_controls.py
  tests/test_predefined_dynamical_decoupling.py
Owners: @qctrl/boulder-opal-engineering

fix: Update mathematical notation for consistency in predefined.py
  qctrlopencontrols/driven_controls/predefined.py
  qctrlopencontrols/dynamic_decoupling_sequences/predefined.py
Owners: @qctrl/boulder-opal-engineering

fix: Improve mathematical notation formatting in predefined.py
  qctrlopencontrols/driven_controls/predefined.py
  qctrlopencontrols/dynamic_decoupling_sequences/predefined.py
Owners: @qctrl/boulder-opal-engineering

fix: Improve formatting of mathematical notation in predefined.py
  qctrlopencontrols/driven_controls/predefined.py
Owners: @qctrl/boulder-opal-engineering

fix: Enhance formatting of mathematical notation in predefined.py
  qctrlopencontrols/driven_controls/predefined.py
Owners: @qctrl/boulder-opal-engineering

fix: Standardize formatting of mathematical notation in predefined.py
  qctrlopencontrols/driven_controls/predefined.py
Owners: @qctrl/boulder-opal-engineering

fix: Adjust docstring formatting in new_bb1_control function in predefined.py
  qctrlopencontrols/driven_controls/predefined.py
Owners: @qctrl/boulder-opal-engineering

fix: Update docstring formatting to disable pylint line length warnings in predefined.py
  qctrlopencontrols/driven_controls/predefined.py
Owners: @qctrl/boulder-opal-engineering

fix: Update mathematical notation for consistency in predefined.py (#311)
  qctrlopencontrols/driven_controls/predefined.py
  qctrlopencontrols/dynamic_decoupling_sequences/predefined.py
Owners: @qctrl/boulder-opal-engineering
